* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  background: #212121;
  color: #fff; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 0 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 64px;
  width: 100%;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Roboto", sans-serif;
  background: transparent;
  border: none;
    border-bottom: 1px solid #FFFFFF;
    border-radius: 0; }
  input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

label {
  display: block;
  position: relative;
  width: 100%; }

form {
  width: 100%; }
  form .btn {
    width: 100%;
    max-width: none; }
  form label {
    margin: 0 0 42px; }
    form label:last-child {
      margin: 0; }

.consent {
  margin: 46px 0 30px;
  max-width: 320px;
  width: 100%;
  font-size: 14px; }

.input-icon {
  width: 48px;
  height: 48px;
  position: absolute;
  right: 0;
  bottom: 0; }

.btn, button {
  outline: none;
  font-family: "Roboto", sans-serif;
  padding: 12px 18px;
  height: 64px;
  border: none;
    border-radius: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer; }
  .btn:hover, .btn:focus, button:hover, button:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.02em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.btn-border {
  border: 1px solid #fff;
    border-radius: 8px;
  color: #fff; }
  .btn-border:hover {
    background: #F4CF84;
    color: #282E32; }

.btn-border-accent {
  border: 1px solid #F4CF84;
    border-radius: 8px;
  color: #F4CF84; }
  .btn-border-accent:hover {
    background: -webkit-gradient(linear, right top, left top, from(#FAC57A), to(#EED78B));
    background: linear-gradient(270deg, #FAC57A 0%, #EED78B 100%);
    color: #282E32; }

.btn-accent {
  -webkit-box-shadow: 2px 2px 16px rgba(255, 170, 51, 0.42);
          box-shadow: 2px 2px 16px rgba(255, 170, 51, 0.42);
  background: -webkit-gradient(linear, right top, left top, from(#FAC57A), to(#EED78B));
  background: linear-gradient(270deg, #FAC57A 0%, #EED78B 100%);
  border-radius: 8px;
  padding: 0 28px;
  color: #212121;
  font-size: 16px;
  font-weight: 500; }
  .btn-accent:hover {
    color: #212121;
    background: #F4CF84; }

h1, h2, h3 {
  font-family: "Lora", sans-serif;
  width: 100%; }

h1 {
  font-size: 72px;
  margin: 0 0 32px; }

h2 {
  font-size: 72px;
  margin: 0 0 72px; }

h3 {
  margin: 0 0 16px;
  font-size: 36px;
  line-height: 42px; }

.color-accent {
  color: #F4CF84; }

.color-white {
  color: #fff; }

a.color-white:hover {
  color: #fff; }

.bg-grey {
  background: #282E32;
  color: #fff; }

.d-inline {
  display: inline-block; }

.text-decoration {
  text-decoration: underline; }

.container {
  max-width: 1612px;
  padding: 0 16px; }

.row {
  margin: 0 -16px; }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding: 0 16px; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

.logo {
  color: #fff;
  font-family: "Lora", sans-serif;
  font-size: 36px; }
  .logo:hover {
    color: #F4CF84; }

.links-accent {
  color: #F4CF84; }
  .links-accent:hover {
    color: #fff; }

.section-decor-bg {
  background: url("../img/bg1.jpeg") no-repeat center;
    background-size: cover;
  position: relative;
  z-index: 1; }
  .section-decor-bg:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(87.53deg, rgba(21, 24, 25, 0.95) 0%, #151819 26.46%, #151819 70.4%, rgba(21, 24, 25, 0.95) 95.86%);
    z-index: -1; }

.p-112 {
  padding: 112px 0; }

.box-text {
  font-size: 18px;
  line-height: 150%;
  opacity: .85; }

header {
  padding: 30px 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
  font-size: 18px; }
  header .btn {
    margin: 0 0 0 48px;
    padding: 0 29px; }

.logo-icon {
  width: 100%;
  max-width: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.menu {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .menu li {
    margin: 0 48px 0 0; }
    .menu li:last-child {
      margin: 0; }
    .menu li a {
      color: #fff;
      position: relative; }
      .menu li a:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 100%;
        height: 1px;
        background: transparent;
        -webkit-transition: .3s ease;
        transition: .3s ease; }
      .menu li a:hover:before {
        background: #F4CF84; }
    .menu li .active:before {
      background: #F4CF84; }

.phone-tel {
  color: #fff; }
  .phone-tel:hover {
    color: #F4CF84; }

.fixed {
  padding: 17px 0;
  background: #282E32; }
  .fixed .logo-icon {
    max-width: 64px; }

.btn-scroll-top {
  position: fixed;
  z-index: 7;
  width: 58px;
  height: 58px;
  background: #F4CF84;
  border-radius: 50%;
  padding: 15px 17px;
  stroke: #212121;
  fill: none;
  right: 20px;
  bottom: 20px;
  -webkit-transition: none;
  transition: none; }
  .btn-scroll-top:hover {
    background: #fff; }

.btn-burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 52px;
  height: 52px;
  margin: 0 0 0 32px;
  cursor: pointer;
  padding: 16px 10px; }
  .btn-burger span {
    background: #F4CF84;
    height: 3px;
    background: #F4CF84;
    border-radius: 5px;
    display: block;
    width: 100%; }

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  background: #282E32;
  max-width: 480px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 24px 10px 72px; }
  .mobile-menu .logo-icon {
    max-width: 98px; }
  .mobile-menu__head {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .mobile-menu__body {
    width: 100%;
    padding: 32px 0 0; }
  .mobile-menu .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 16px;
    margin: 0 0 78px; }
    .mobile-menu .menu li {
      margin: 0 0 32px; }
      .mobile-menu .menu li:last-child {
        margin: 0; }
  .mobile-menu .phone-tel {
    margin: 0 auto 24px;
    text-align: center; }
  .mobile-menu .btn {
    margin: 0 auto;
    height: 54px;
    padding: 0 28px;
    font-size: 16px; }
  .mobile-menu .btn-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;
    stroke: #F4CF84;
    width: 48px;
    height: 48px;
    margin: 0 0 0 auto; }

.main {
  padding: 208px 0 0;
  position: relative;
  overflow: hidden; }

.home {
  position: relative;
  z-index: 1; }
  .home:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(20px);
            filter: blur(20px);
    background: url("../img/bg1.jpeg") no-repeat center;
      background-size: cover;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
            transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: -1; }
  .home:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(110.04deg, rgba(11, 12, 13, 0.93) 36.64%, rgba(17, 20, 20, 0.95) 100%);
    z-index: -1; }
  .home .btn {
    max-width: 224px;
    width: 100%; }
  .home .box-text {
    max-width: 480px;
    width: 100%; }

.home-content__footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 94px 0 0; }
  .home-content__footer small {
    margin: 0 0 0 32px;
    font-style: italic;
    color: #F4CF84;
    font-size: 18px;
    max-width: 250px; }

.home-img {
  position: relative;
  min-width: 950px;
  z-index: 1;
  margin: 0 0 0 -150px; }
  .home-img:before {
    content: '';
    position: absolute;
    background: url("../img/figure-shadow.svg") no-repeat center;
      background-size: contain;
    z-index: -1;
    bottom: -288px;
    left: -170px;
    width: 1324px;
    height: 1038px; }

.doctor-name {
  position: absolute;
  z-index: 1;
  bottom: 32px;
  right: 20px;
  width: 225px;
  height: 225px;
  border: 1px solid #F4CF84;
    border-radius: 50%;
  padding: 33px 35.5px;
  color: #212121;
  text-align: center; }
  .doctor-name h4 {
    font-family: "Lora", sans-serif;
    font-weight: 500;
    font-size: 24px;
    z-index: 1;
    position: relative;
    margin: 0 auto 12px; }
  .doctor-name p {
    color: #424242;
    font-size: 18px;
    z-index: 1;
    position: relative; }
  .doctor-name:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #F4CF84;
    width: calc(100% - 16px);
    height: calc(100% - 16px); }

.advantages {
  padding: 42px 0;
  position: relative; }
  .advantages:before, .advantages:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, right top, left top, from(rgba(244, 206, 130, 0)), color-stop(48.44%, #F4CE82), to(rgba(244, 206, 130, 0)));
    background: linear-gradient(270deg, rgba(244, 206, 130, 0) 0%, #F4CE82 48.44%, rgba(244, 206, 130, 0) 100%); }
  .advantages:before {
    top: 0; }
  .advantages:after {
    bottom: 0; }
  .advantages h3 {
    color: #F4CF84;
    margin: 0 0 16px; }

.what-puva h2 {
  margin: 0 0 32px; }

.what-puva h3 {
  color: #F4CF84;
  margin: 72px 0 16px; }

.what-puva .btn {
  margin: 48px 0 0; }

.what-puva-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.what-puva__img {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 690px;
  overflow: hidden; }
  .what-puva__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.stages-processed-box {
  margin: 0 0 72px; }
  .stages-processed-box h3 {
    color: #F4CF84;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0; }
  .stages-processed-box__body {
    font-size: 18px;
    line-height: 150%;
    margin: 16px 0 0; }
  .stages-processed-box__title {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.stages-processed-box__line {
  max-width: 412px;
  width: 100%;
  height: 2px;
  display: block;
  background: -webkit-gradient(linear, right top, left top, from(rgba(244, 206, 130, 0)), color-stop(48.44%, #F4CE82), to(rgba(244, 206, 130, 0)));
  background: linear-gradient(270deg, rgba(244, 206, 130, 0) 0%, #F4CE82 48.44%, rgba(244, 206, 130, 0) 100%); }

.video-preview {
  width: 100%;
  height: 435px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .video-preview:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50.11%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.11%, rgba(0, 0, 0, 0.5) 100%); }
  .video-preview img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.video-preview__body {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 24px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px; }

.btn-play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #F4CF84;
  width: 58px;
  height: 58px;
  min-width: 58px;
  margin: 0 16px 0 0;
  padding: 17px;
  fill: #212121; }
  .btn-play .svg-icon {
    margin: 0 -6px 0 0; }

.time-course__img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .time-course__img img {
    width: 100%; }

.time-course h3 {
  color: #F4CF84;
  margin: 0 0 16px; }

.time-course .btn {
  margin: 48px 0 0; }

.range-wrap {
  margin: 24px 0 72px; }

.range-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
  max-width: 640px;
  width: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .range-slider * {
    margin: 0;
    padding: 0;
    border: 0; }
  .range-slider input[type=range] {
    border-radius: 0.75em;
    overflow: hidden;
    position: relative;
    height: 1.5em; }

.range-ticks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.range {
  position: relative;
  width: 100%;
  height: 102px; }
  .range:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    height: 2px;
    background: #F4CF84;
    opacity: .5; }

.range-slider input[type=range] {
  background-color: transparent;
  display: block;
  padding: 0 10px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  left: 0;
  bottom: 0; }
  .range-slider input[type=range]:focus {
    outline: transparent; }

.range-ticks {
  font-size: 26px;
  font-family: "Lora", sans-serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  position: absolute;
  left: 22px;
  height: 100%;
  width: 100%; }

.range-tick, .range-tick-text {
  display: inline-block; }

.range-tick {
  font-size: 36px;
  font-family: "Lora", sans-serif;
  color: #F4CF84;
  opacity: .5;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  display: none;
  padding: 0 0 56px; }
  .range-tick:nth-child(1), .range-tick:nth-child(6), .range-tick:nth-child(11), .range-tick:nth-child(16), .range-tick:nth-child(21), .range-tick:nth-child(26) {
    display: block; }

.range-tick-text {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.data-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: -5px;
  z-index: 2;
  pointer-events: none;
  background-color: #F4CF84;
  border: 4px solid #212121;
  border-radius: 50%;
  cursor: pointer; }

.reviews h2 {
  margin: 0; }

.reviews .links-social {
  margin: 0 0 0 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.reviews-slider {
  margin: 72px 0 0; }
  .reviews-slider .slick-slide {
    opacity: .4; }
  .reviews-slider .slick-active + .slick-active .reviews-box {
    width: 289px;
    height: 332px;
    margin: 52px 22.5px 0; }
  .reviews-slider .slick-center + .slick-active .reviews-box {
    height: 332px;
    width: 289px;
    margin: 52px 22.5px 0; }
  .reviews-slider .slick-center + .slick-active + .slick-active .reviews-box {
    width: 217px;
    height: 248px;
    margin: 97px 22.5px 0; }
  .reviews-slider .slick-active.slick-center {
    opacity: 1; }
    .reviews-slider .slick-active.slick-center .reviews-box {
      width: 389px;
      height: 448px;
      margin: 0 22.5px; }
  .reviews-slider .slick-prev {
    left: -80px; }
  .reviews-slider .slick-next {
    right: -80px; }

.slick-slider {
  width: 100%; }

.slick-slide {
  outline: none; }

.slick-dots {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  bottom: 0;
  margin: 40px auto 0; }
  .slick-dots li {
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background: #424242;
    margin: 0 20px 0 0; }
    .slick-dots li:last-child {
      margin: 0; }
    .slick-dots li button {
      display: none; }
  .slick-dots .slick-active {
    background: #F4CF84; }

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 1;
  opacity: 1;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
    border-radius: 0;
  padding: 12px 15px;
  background: transparent; }
  .slick-arrow .svg-icon {
    fill: none;
    stroke: #F4CF84; }

.reviews-box {
  -webkit-filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.14)) drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.12)) drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.14)) drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.12)) drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.2));
  border-radius: 8px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 217px;
  height: 248px;
  margin: 97px 22.5px 0; }
  .reviews-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.question-img {
  width: 100%;
  height: 740px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden; }
  .question-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.accordion {
  width: 100%; }
  .accordion .card {
    padding: 22px 0 23px;
    background: transparent;
    border: none;
      border-radius: 0;
      border-top: 1px solid #F4CF84; }
    .accordion .card:last-child {
      border-bottom: 1px solid #F4CF84; }
  .accordion .card-header {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: none;
    cursor: pointer;
    margin: 0; }
    .accordion .card-header h3 {
      padding: 0 42px 0 0;
      margin: 0;
      width: calc(100% - 48px);
      color: #F4CF84; }
  .accordion .card-body {
    padding: 16px 0 0;
    border: none;
      border-radius: 0; }

.collapsed .accordion-icon {
  background: transparent; }
  .collapsed .accordion-icon .svg-icon {
    -webkit-transform: none;
            transform: none;
    stroke: #F4CF84; }

.accordion-icon {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #F4CF84;
  padding: 10px; }
  .accordion-icon .svg-icon {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    stroke: #282E32; }

.clinics {
  position: relative; }
  .clinics .slick-slide .clinics-slider-box {
    margin-top: 101px; }
  .clinics .slick-center .clinics-slider-box {
    opacity: 1;
    width: 1042px;
    height: 740px;
    margin-top: 0; }

.clinics-slider-box {
  width: 736px;
  height: 522px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  margin: 0 68px;
  opacity: 0.4; }
  .clinics-slider-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.clinics-slider__nav {
  position: absolute;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  max-width: 1200px;
  width: 100%;
  left: 50%;
  bottom: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2; }
  .clinics-slider__nav .slick-arrow {
    position: relative;
    -webkit-transform: none;
            transform: none;
    left: 0;
    top: 0;
    right: 0; }

.contacts {
  padding: 112px 0 80px; }

.contacts-box {
  margin: 0 0 70px; }
  .contacts-box:last-child {
    margin: 0; }
  .contacts-box h3 {
    margin: 0 0 24px; }
    .contacts-box h3:last-child {
      margin: 0; }
  .contacts-box p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 8px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.85); }
  .contacts-box small {
    font-style: italic;
    font-size: 18px;
    margin: -12px 0 0;
    display: block; }

.links-copy {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #F4CF84;
  margin: 0 0 0 12px;
  width: 32px;
  height: 32px; }

.links-contacts {
  margin: 52px 0 0;
  font-size: 18px; }

.social-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 52px 0 0; }

.links-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 48px 0 0;
  font-size: 18px; }
  .links-social:last-child {
    margin: 0; }
  .links-social__icon {
    fill: #F4CF84;
    width: 32px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 16px 0 0; }
  .links-social .mail-icon {
    fill: none;
    stroke: #F4CF84; }

.map-section {
  position: relative;
  height: 527px; }

.map {
  width: 100%;
  height: 100%; }

.map-address {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: #F4CF84;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 8px 16px;
  color: #151819;
  font-size: 18px;
  letter-spacing: 0.02em;
  font-weight: 500; }

.ymaps-layers-pane {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

footer {
  font-size: 18px;
  padding: 48px 0; }
  footer .list-social {
    margin: 32px 0 69px; }

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .list-social li {
    margin: 0 32px 0 0; }
    .list-social li:last-child {
      margin: 0; }
    .list-social li a {
      width: 32px;
      height: 32px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      fill: #fff; }
      .list-social li a:hover {
        fill: #F4CF84; }

.footer-menu li {
  margin: 0 0 18px; }
  .footer-menu li:last-child {
    margin: 0; }
  .footer-menu li a {
    color: #fff; }
    .footer-menu li a:hover {
      color: #F4CF84; }

.footer-contacts {
  text-align: right; }
  .footer-contacts .btn {
    min-width: 248px;
    float: right; }

.address {
  margin: 24px 0 36px;
  line-height: 150%; }

.phone {
  color: #fff;
  font-size: 24px;
  font-weight: 500; }
  .phone:hover {
    color: #fff; }

.modal-dialog {
  -webkit-box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
  border: none;
    border-radius: 4px;
  max-width: 1078px; }

.modal-content {
  border: none;
    border-radius: 4px;
  background: #282E32;
  padding: 52px; }
  .modal-content h3 {
    font-size: 72px;
    margin: 0;
    line-height: 84px; }

.modal-header {
  padding: 0;
  border: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative; }
  .modal-header .close {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 48px;
    height: 48px;
    stroke: #fff;
    padding: 10px;
    opacity: 1;
    right: 0;
    top: 0; }
  .modal-header .box-text {
    opacity: 1;
    margin: 16px 0 0;
    width: 100%; }

.modal-body {
  padding: 52px 0 0;
  border: none; }
  .modal-body .map-section {
    height: 554px; }
  .modal-body .map-address {
    bottom: auto;
    top: 24px; }

#resultModal .modal-dialog {
  max-width: 1306px; }

.result-slider {
  padding: 0 80px; }
  .result-slider .slick-next {
    right: 0; }
  .result-slider .slick-prev {
    left: 0; }

.result-slider-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.result-slider-box {
  width: 50%; }
  .result-slider-box__name {
    text-align: center;
    width: 100%;
    margin: 0 auto 24px;
    font-size: 36px;
    font-family: "Lora", sans-serif; }

.result-slider-box__img {
  width: 100%;
  height: 462px;
  position: relative;
  overflow: hidden; }
  .result-slider-box__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.btn-result-view {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0 49px; }

.result-slider-box-before img {
  opacity: .05; }

.ui-widget.ui-widget-content {
  border: none;
  background: #F4CF84; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1780px) {
  .home-img {
    min-width: 674px; }
    .home-img:before {
      height: 900px;
      width: 1000px;
      left: -130px; } }

@media only screen and (max-width: 1400px) {
  h1 {
    font-size: 48px;
    margin: 0 0 24px;
    line-height: 120%;
    max-width: 554px; }
  h2 {
    margin: 0 0 48px;
    font-size: 48px;
    line-height: 120%; }
  h3 {
    font-size: 28px; }
  .logo-icon {
    max-width: 98px; }
  header {
    padding: 32px 0; }
    header .btn {
      margin: 0 0 0 28px; }
  .menu li {
    margin: 0 32px 0 0; }
  .doctor-name {
    width: 184px;
    height: 184px;
    padding: 27px 20px; }
    .doctor-name:before {
      width: calc(100% - 13px);
      height: calc(100% - 13px); }
    .doctor-name h4 {
      font-size: 18px; }
    .doctor-name p {
      font-size: 16px; }
  .box-text {
    font-size: 16px; }
  .home-content__footer {
    margin: 68px 0 0; }
    .home-content__footer small {
      font-size: 16px;
      margin: 0 0 0 24px; }
  .btn {
    height: 54px;
    font-size: 16px; }
  .main {
    padding: 210px 0 0; }
  .p-112 {
    padding: 72px 0; }
  .what-puva__img {
    height: 631px; }
  .what-puva h3 {
    margin: 48px 0 16px; }
  .what-puva .btn {
    margin: 32px 0 0; }
  .video-preview {
    height: 313px; }
  .stages-processed-box {
    margin: 0 0 48px; }
  .time-course__img {
    height: 460px; }
    .time-course__img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .range-wrap {
    margin: 24px 0 48px; }
  .range-ticks {
    left: 14px; }
  .data-range {
    width: 34px;
    height: 34px; }
  .range-tick {
    font-size: 28px;
    padding: 0 0 41px; }
  .range:before {
    bottom: 17px; }
  .time-course .btn {
    margin: 32px 0 0; }
  .reviews-box, .reviews-slider .slick-center + .slick-active + .slick-active .reviews-box {
    width: 161px;
    height: 184px;
    margin: 73px 12px 0; }
  .reviews-slider .slick-active + .slick-active .reviews-box {
    width: 214px;
    height: 246px;
    margin: 42px 12px 0; }
  .reviews-slider .slick-active.slick-center .reviews-box {
    margin: 0 12px;
    width: 290px;
    height: 333px; }
  .container {
    max-width: 1200px; }
  .reviews-slider {
    margin: 48px 0 0; }
    .reviews-slider .slick-prev {
      left: -40px; }
    .reviews-slider .slick-next {
      right: -40px; }
  .slick-arrow {
    width: 24px;
    height: 24px;
    padding: 6px 8px; }
  .slick-dots {
    margin: 30px 0 0; }
    .slick-dots li {
      width: 10px;
      height: 10px;
      margin: 0 18px 0 0; }
  .question-img {
    height: 668px; }
  .accordion-icon {
    width: 24px;
    height: 24px;
    padding: 5px; }
  .clinics .slick-slide .clinics-slider-box {
    margin-top: 70px; }
  .clinics-slider-box {
    width: 490px;
    height: 348px;
    margin: 0 42px; }
  .clinics .slick-center .clinics-slider-box {
    width: 696px;
    height: 494px;
    margin-top: 0; }
  .clinics-slider__nav {
    max-width: 800px; }
  .contacts {
    padding: 72px 0; }
  .contacts-box {
    margin: 0 0 48px; }
    .contacts-box p {
      font-size: 14px;
      margin: 0 0 16px; }
    .contacts-box small {
      font-size: 14px;
      margin: -8px 0 0; }
    .contacts-box h3 {
      margin: 0 0 16px; }
  .links-contacts {
    font-size: 14px;
    margin: 47px 0 0; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1200px) {
  .doctor-name {
    right: 20px; }
  header {
    font-size: 16px; }
    header .btn {
      margin: 0 0 0 28px;
      padding: 0 20px; }
  .home-img {
    min-width: 552px; }
    .home-img:before {
      width: 800px;
      height: 800px;
      left: -100px; }
  .menu li {
    margin: 0 20px 0 0; }
  .reviews-slider {
    padding: 0 30px; }
    .reviews-slider .slick-prev {
      left: 0; }
    .reviews-slider .slick-next {
      right: 0; }
  .modal-content h3 {
    font-size: 40px;
    line-height: normal; } }

@media only screen and (max-width: 992px) {
  .home-img {
    min-width: auto;
    max-width: 557px;
    margin: 50px auto 0; }
    .home-img:before {
      height: 600px;
      bottom: -220px; }
  .home-content__footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 48px auto 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .home-content__footer small {
      max-width: none;
      text-align: center;
      margin: 16px auto 0; }
  h1 {
    text-align: center;
    margin: 0 auto 24px; }
  .home .box-text {
    margin: 0 auto;
    text-align: center; }
  .main {
    padding: 160px 0 0; }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  header {
    padding: 14px 0; }
    header .menu {
      display: none; }
    header .logo-icon {
      margin: 0 auto 0 0; }
  .advantages {
    padding: 48px 0 16px; }
  .advantages-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 0 32px; }
    .advantages-box h3 {
      width: 40%; }
    .advantages-box .box-text {
      width: 60%; }
  .what-puva-content {
    text-align: center; }
  .what-puva h2 {
    max-width: none; }
    .what-puva h2 br {
      display: none; }
  .what-puva .btn {
    margin: 32px auto 0; }
  .what-puva-images {
    margin: 0 0 48px; }
  .what-puva__img {
    height: 623px; }
  .stages-processed-box__line {
    display: none; }
  .stages-processed-box__title {
    width: 40%; }
  .stages-processed-box__body {
    width: 60%;
    margin: 0;
    font-size: 16px;
    line-height: 150%; }
  .stages-processed-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .video-preview {
    margin: 0 0 32px;
    height: 411px; }
  .time-course__img {
    height: 460px;
    margin: 0 0 48px; }
  .time-course h2 {
    margin: 0 auto 48px;
    text-align: center;
    max-width: 615px; }
  .time-course .btn {
    margin: 48px auto 0; }
  .time-course .box-text {
    max-width: 590px;
    margin: 0 auto; }
  .range-slider {
    margin: 0 auto;
    max-width: 484px; }
  .time-course-content {
    text-align: center; }
  .slick-dots {
    margin: 24px 0 0; }
  .reviews h2 {
    text-align: center; }
  .reviews .links-social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 32px auto 0; }
  .question-img {
    height: 428px;
    margin: 0 0 48px; }
  .question h2 {
    text-align: center; }
  .accordion .card {
    padding: 17px 0 23px; }
  .accordion .card-body {
    padding: 13px 0 0; }
  .accordion .card-header h3 {
    padding: 0;
    max-width: 612px; }
  footer {
    font-size: 16px; }
    footer .list-social {
      margin: 32px 0 68px; }
  .footer-contacts .btn {
    margin: 0 auto;
    float: none;
    min-width: auto; }
  .logo {
    font-size: 28px; }
  .list-social li {
    margin: 0 24px 0 0; }
    .list-social li a {
      width: 24px;
      height: 24px; }
  .footer-menu li {
    margin: 0 0 16px; }
  .footer-contacts {
    margin: 48px 0 0;
    padding: 32px 0 0;
    position: relative; }
    .footer-contacts:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      width: calc(100% + 40px);
      background: #ffffff;
      opacity: .5;
      height: 1px; }
  .phone {
    font-size: 18px;
    text-align: center; }
  .address {
    text-align: center;
    margin: 16px auto 32px; }
  .form-callback {
    margin: 30px 0 0; }
  form label {
    margin: 0 0 20px; }
  input, textarea, select {
    height: 50px; }
  .consent {
    max-width: none; }
  .modal-body .map-section {
    height: 450px; }
  .result-slider {
    padding: 0 40px; }
  .result-slider-box__img {
    height: 400px; }
  .result-slider-box__name {
    font-size: 28px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .reviews-slider .slick-active + .slick-active .reviews-box, .reviews-box, .reviews-slider .slick-center + .slick-active + .slick-active .reviews-box {
    width: 183px;
    height: 212px;
    margin: 36px 8px 0; }
  .reviews-slider .slick-active.slick-center .reviews-box {
    width: 251px;
    height: 288px;
    margin: 0 8px; }
  .clinics .slick-slide .clinics-slider-box {
    margin-top: 50px; }
  .clinics-slider-box {
    width: 344px;
    height: 244px;
    margin: 0 36px; }
  .clinics .slick-center .clinics-slider-box {
    width: 488px;
    height: 347px;
    margin-top: 0; }
  .clinics-slider__nav {
    max-width: 565px; }
  .clinics h2 {
    text-align: center; }
  .map-section {
    height: 442px; }
  .map-address {
    font-size: 16px; }
  .links-contacts {
    margin: 47px auto 48px; }
  .contacts h2 {
    text-align: center; }
  h2 {
    text-align: center; }
  .contacts-box {
    margin: 0 auto 48px;
    text-align: center; }
    .contacts-box h3 {
      max-width: 470px;
      margin: 0 auto 16px; }
      .contacts-box h3:last-child {
        margin: 0 auto; }
    .contacts-box:last-child {
      margin: 0 auto; }
    .contacts-box p {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .social-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 47px 0 0; }
  .footer-menu {
    text-align: center;
    margin: 0 0 16px; }
    .footer-menu li {
      margin: 0 0 16px; }
  .footer-contacts {
    padding: 48px 0 0;
    margin: 56px 0 0; }
  footer .list-social {
    margin: 32px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .logo, .copyright {
    text-align: center; }
  .result-slider-box__img {
    height: 300px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .home-img {
    max-width: 460px; }
    .home-img:before {
      background: url("../img/figure-shadow-mob.svg") no-repeat center;
        background-size: cover;
      width: 480px;
      height: 623px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      bottom: -144px;
      -webkit-filter: blur(30px);
              filter: blur(30px);
      background-blend-mode: lighten; }
  .doctor-name {
    right: 0;
    bottom: 16px;
    width: 155px;
    height: 155px; }
    .doctor-name:before {
      width: calc(100% - 11px);
      height: calc(100% - 11px); }
    .doctor-name h4 {
      font-size: 14px;
      margin: 0 auto 8px; }
    .doctor-name p {
      font-size: 14px; }
  .btn {
    font-size: 14px; }
  header {
    padding: 24px 0; }
    header .btn {
      display: none; }
  .main {
    padding: 154px 0 0; }
  h1 {
    font-size: 36px;
    margin: 0 auto 24px;
    line-height: 42px; }
  h2 {
    margin: 0 auto 24px;
    font-size: 36px;
    line-height: 42px; }
  h3 {
    font-size: 28px;
    line-height: 33px; }
  .box-text {
    font-size: 14px; }
  .container {
    padding: 0 10px; }
  .row {
    margin: 0 -10px; }
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding: 0 10px; }
  .advantages-box {
    margin: 0 0 52px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center; }
    .advantages-box h3 {
      width: 100%; }
    .advantages-box .box-text {
      width: 100%; }
  .advantages {
    padding: 48px 0 0; }
  .what-puva__img {
    height: 391px; }
  .what-puva h2 {
    margin: 0 auto 24px; }
  .stages-processed-box__title, .stages-processed-box__body {
    width: 100%; }
  .stages-processed-box__title h3 {
    text-align: center;
    max-width: none;
    margin: 0 auto; }
  .stages-processed-box {
    margin: 0 0 52px;
    text-align: center; }
  .stages-processed-box__body {
    margin: 16px auto 0;
    font-size: 14px; }
  .video-preview {
    margin: 0 0 21px;
    height: 258px; }
  .btn-play {
    font-size: 14px; }
  .time-course__img {
    height: 286px; }
  .time-course h2 {
    margin: 0 auto 32px; }
  .time-course .btn {
    margin: 33px auto 0; }
  .range-slider {
    max-width: 460px; }
  .reviews-slider .slick-active.slick-center .reviews-box, .reviews-slider .slick-active + .slick-active .reviews-box, .reviews-box, .reviews-slider .slick-center + .slick-active + .slick-active .reviews-box {
    opacity: 1;
    width: 100%;
    height: 527px;
    margin: 0 auto; }
  .reviews-slider {
    padding: 0; }
    .reviews-slider .slick-slide {
      opacity: 1; }
  .reviews h2 {
    margin: 0 auto;
    max-width: 400px; }
  .slick-dots {
    margin: 32px 0 0; }
  .question-img {
    height: 270px;
    margin: 0 0 32px; }
  .accordion-icon {
    padding: 3px; }
  .clinics .slick-slide .clinics-slider-box {
    margin-top: 0; }
  .clinics-slider-box {
    width: 100%;
    height: 327px;
    margin: 0;
    opacity: 1; }
  .clinics .slick-center .clinics-slider-box {
    width: 100%;
    height: 327px;
    margin-top: 0; }
  .clinics-slider {
    padding: 0 10px; }
  .clinics-slider__nav {
    position: relative;
    bottom: 0;
    -webkit-transform: none;
            transform: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0;
    left: 0;
    margin: 28px 0 0; }
    .clinics-slider__nav .slick-next {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    .clinics-slider__nav .slick-dots {
      margin: 0 32px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
  .clinics-slider-box {
    height: 213px; }
  .links-contacts {
    margin: 47px auto 72px; }
  .links-social {
    font-size: 14px; }
  .modal-content {
    padding: 30px; }
  .result-slider-box__name {
    font-size: 24px; }
  .result-slider-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .result-slider-box {
    width: 100%; } }

@media only screen and (max-width: 420px) {
  .home-img {
    max-width: 310px; }
    .home-img:before {
      -webkit-filter: none;
              filter: none; }
  .doctor-name {
    bottom: 10px;
    width: 118px;
    height: 118px;
    padding: 16px 10px; }
    .doctor-name:before {
      width: calc(100% - 8px);
      height: calc(100% - 8px); }
    .doctor-name p {
      font-size: 12px; }
    .doctor-name h4 {
      font-size: 12px;
      margin: 0 auto 8px; }
  .home-content__footer {
    margin: 32px auto 0; }
  h1 {
    font-size: 27px;
    line-height: 33px;
    margin: 0 auto 24px; }
  h2 {
    margin: 0 auto 24px;
    font-size: 28px;
    line-height: 33px; }
  h3 {
    font-size: 18px;
    line-height: 21px;
    margin: 0 auto 16px; }
  header {
    padding: 10px 0; }
    header .logo-icon {
      max-width: 72px; }
    header .phone-tel {
      display: none; }
  .btn-burger {
    margin: 0; }
  .fixed {
    padding: 10px 0; }
  .advantages-box {
    margin: 0 0 48px; }
  .what-puva__img {
    height: 255px; }
  .what-puva-images {
    margin: 0 0 32px; }
  .what-puva h2 {
    margin: 0 auto 24px; }
  .p-112 {
    padding: 52px 0; }
  .time-course__img {
    height: 186px; }
  .range-tick {
    font-size: 18px; }
  .range-slider {
    max-width: 300px; }
  .reviews-slider .slick-active.slick-center .reviews-box, .reviews-slider .slick-active + .slick-active .reviews-box, .reviews-box, .reviews-slider .slick-center + .slick-active + .slick-active .reviews-box {
    height: 344px; }
  .question-img {
    height: 176px; }
  .accordion .card {
    padding: 16px 0 18px; }
  .social-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .links-social {
    margin: 0 auto 32px; }
    .links-social:last-child {
      margin: 0 auto; }
  .links-contacts {
    margin: 48px auto; }
  .map-section {
    height: 442px; }
  .address {
    margin: 16px auto 24px;
    max-width: 300px; }
  .footer-contacts {
    margin: 32px 0 0; }
  footer {
    font-size: 14px; }
  .mobile-menu {
    padding: 10px 10px 72px; }
    .mobile-menu .logo-icon {
      max-width: 72px; }
  .modal-content h3 {
    font-size: 24px; }
  .modal-body .map-section {
    height: 300px; }
  .result-slider-box__img {
    height: 250px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }
